{% block pageContent %}
<!DOCTYPE html>
<html>

<body>
    
    <h1>List of Passengers</h1>

    <table>
        <thead>
            <tr>
                <th>#</th>
                <th>Passenger ID</th>
                <th>Passenger address</th>
                <th>Passenger phonenumber</th>
            </tr>
        </thead>

        <tbody>
            {% for item in passengers %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{item.Passenger_ID}}</td>
                <td>{{item.Passenger_address}}</td>
                <td>{{item.Passenger_phonenumber}}</td>
    
            </tr>
            {% endfor%}
        </tbody>
    </table>
    {% endblock pageContent %}
</body>

</html>
